.page {
  height: calc(100vh - 61px);
  width: 100%;
  text-align: center;
}
.page .inlinePage {
  background: white;
  padding: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
